@charset "utf-8";
*{
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    margin: 0px; 
    padding: 0px;
}
html{
    height: 100vh;
}
header{
    background-image: linear-gradient(90deg,black , #000055, blue);
    display: flex;
    justify-content: space-between;
    background-color: #360068;
    color: white;
}
img{
    width: 120px;
}
header h1{
    display: none;
}
#resp{
    color: white;
    font-size: 1.6em;
    cursor: pointer;
    margin-top: 15px;
    padding: 15px;
}
.para{
    text-align: center;
    background-color: #360068;
    color: #fff;
    font-weight: 600;
    padding: 15px;
    font-size: 1em;
}
menu{
    display: none;
    background-image: linear-gradient(to left, #6b00cf, #000000);

}
menu ul{
    display: flex;
    flex-direction: column;
}
menu ul li{
    list-style: none;
    padding: 15px;
    border-top: solid black 1px;
}
menu ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 550;
}
menu ul li a:hover{
    color: #0703fa;
}
main{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    min-width: 290px;
    box-shadow: 0px 0px 10px #00000073;
    margin-top: 10px;
}
.ar01{
    display: flex;
    flex-wrap: wrap;
}
.s01{
    background: url(../imagens/cam-s280.jpg) no-repeat;
    margin: 5px;
}
.p01{
    background-color: #ffffff56;
    text-align: justify;
    line-height: 1.6em;
    text-indent: 30px;
    border: solid #00000063 1px;
    padding: 10px;
    margin: 5px;
    font-size: 1.2em;
}
.p02{
    background-color: #ffffff56;
    padding: 10px;text-indent: 30px;
    line-height: 1.6em;
    text-align: justify;
    margin: 5px;
    border: solid #00000063 1px;
    font-size: 1.2em;
}
.s02{
    background: url(../imagens/switch-s280.jpg) no-repeat;
    margin: 5px;
}
.s03{
    background: url(../imagens/switch280.jpg) no-repeat;
    margin: 5px;
}
